<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../vuejs/vue.js"></script>
  <title>Vue.js</title>
</head>
<body>
  <div id="app">
    <input-button></input-button>
  </div>

  <script>
    const CompanyDetails = {
      name: 'CompanyDetails',
      props: {
        data: Object,
      },
      template: `
        <div>
          <p v-for="(value, key) in data">
            <strong>{{ key }}:</strong>
            {{ value }}
          </p>  
        </div>
      `,
    } 

    const InputButton = {
      name: 'InputButton',
      data() {
        return {
          name: '',
          data: {},
        }
      },
      methods: {
        async fetchQuote() {
          const data = await fetch(`https://api.origamid.dev/stock/${this.name}/quote`);
          this.data = await data.json();
        }
      },
      template: `
        <div>
          <input type="text" v-model="name" placeholder="aapl" />
          <button @click="fetchQuote">Enviar</button>  
          <company-details :data="data"></company-details>
        </div>
      `,
      components: {
        CompanyDetails,
      },
    }

    const vm = new Vue({
      el: '#app',
      data: {
        
      },
      components: {
        InputButton,
      },
    });


    /* Exercícios
    * Crie um componente com um campo de input e um botão para enviar o valor.
    * Nesse campo de input será possível escrever o simbolo de empresas americanas
    * simbolos ex:
    * aapl -> Apple
    * goog -> Google
    * msft -> Microsoft
    * amzn -> Amazon
    * fb -> Facebook
    * Ao clicar no botão, faça um fetch com a API:
    * https://api.origamid.dev/stock/${SIMBOLO}/quote
    * O resultado do fetch deverá ser mostrado em um componente filho do formulário.
    * Envia as informações utilizando prop
    * Mostre todas as informações do fetch utilizando um loop.
    */
  </script>
</body>
</html>


